<mat-card class="p-4 max-h-screen overflow-auto">
  <mat-card-header>
    <mat-card-title>Products</mat-card-title>
    <mat-card-subtitle>{{ editMode ? "Edit" : "Add" }} a product</mat-card-subtitle>
  </mat-card-header>
  <div style="padding: 4px;">
    <div class="flex justify-between mt-4">
      <button mat-raised-button color="accent" routerLink="../..">
        <mat-icon>cancel</mat-icon> Cancel
      </button>
      <button mat-raised-button color="primary" (click)="submitForm()">
        <mat-icon>save</mat-icon>  {{ editMode ? "Edit" : "Add" }}
      </button>
    </div>

    <form [formGroup]="myForm" class="grid grid-cols-12
     gap-4 mt-4">
      <mat-form-field appearance="outline" class="col-span-6 s900:col-span-12" style="height: 50px;">
        <mat-label>Name:</mat-label>
        <input matInput detail="Name" formControlName="name">
        <mat-error *ngIf="myForm.get('name')?.hasError('required')">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-span-6 s900:col-span-12 h-50">
        <mat-label>Brand:</mat-label>
        <input matInput detail="Brand" formControlName="brand">
        <mat-error *ngIf="myForm.get('brand')?.hasError('required')">
          Description is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-span-6 s900:col-span-12 h-50">
        <mat-label>Description:</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  detail="Short detail about product"
                  formControlName="description"></textarea>
                  <mat-error *ngIf="myForm.get('description')?.hasError('required')">Description is required</mat-error>
      </mat-form-field>
<mat-form-field appearance="outline" class="col-span-6 s900:col-span-12 h-50"
       >
        <mat-select placeholder="Bank" formControlName="category" #singleSelect>
          <mat-option>
            <ngx-mat-select-search
            (input)="filter($event.target)"
             [FormControl]="searchControl">

            </ngx-mat-select-search>
          </mat-option>
          <ng-container *ngIf="flaging">
            <mat-option *ngFor="let category of filteredCategories" [value]="category">
              {{category.name}}
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="myForm.get('category')?.hasError('required')">Category is required</mat-error>
      </mat-form-field>



       <mat-form-field appearance="outline" class="col-span-6 s900:col-span-12 h-50" style="max-height: 50px;">
         <mat-label>Price:</mat-label>
         <input matInput type="number" min=0 formControlName="price">
         <mat-error *ngIf="myForm.get('price')?.hasError('required')">Price is required</mat-error>
       </mat-form-field>

       <mat-form-field appearance="outline" class="col-span-6 s900:col-span-12 h-50 max-h-50px">
        <mat-label>Count in stock:</mat-label>
        <input matInput type="number" min=0 formControlName="countInStock">
        <mat-error *ngIf="myForm.get('countInStock')?.hasError('required')">Price is required</mat-error>
      </mat-form-field>

      <mat-slide-toggle
       class="col-span-6 s900:col-span-12 !h-50 !flex !items-center"
       formControlName="isFeatured">
        Is Indexed Product?
        ?</mat-slide-toggle>

      <div class="rich-textbox grid grid-cols-12 col-span-12 gap-4">
        <angular-editor
        formControlName="richDescription"
        [config]="config"
        [placeholder]="'Enter text here...'"
        class="col-span-6 s900:col-span-12"
        ></angular-editor>
        <div class="rich-textbox-output col-span-6 s900:col-span-12" [innerHTML]="sanitizer.bypassSecurityTrustHtml(this.myForm.get('richDescription')?.value)">
        </div>


      </div>


      <div class="grid grid-cols-12 col-span-12 gap-4 s900:flex s900:flex-wrap s900:flex-col-reverse">
        <mat-form-field appearance="outline" class="col-span-6 s900:col-span-12 h-50">
          <div>
            <mat-toolbar>
              <!-- Display files names -->
              <input matInput [value]="selectedImageName" readonly name="name" />
              <!-- Browse Button -->
              <button mat-flat-button color="primary">Browse File</button>
            </mat-toolbar>
            <!-- Fetch selected filed on change -->
            <input
              type="file"
              #fileInput
              id="uploadFile"
              (change)="onFileChangeSelectedImage($event)"
              name="uploadFile"
              accept="image/*"
            />
          </div>
        </mat-form-field>
        <div *ngIf="imageUrl" class="col-span-6 s900:col-span-12 h-50 m-auto">
          <img [src]="BaseFileCenterUrl+'/'+imageUrl" alt="Preview" class="preview-image">
        </div>
      </div>
    </form>
  </div>
</mat-card>
