
<div class="sidebar">
  <div class="logo">
    <img src="../../../../assets/images/logo.png" alt="" srcset="">
  </div>

  <ul class="links">
    <li><a routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a></li>
    <li><a routerLink="/category"><mat-icon>list</mat-icon> Categories</a></li>
    <li><a routerLink="/product"><mat-icon>product</mat-icon> Products</a></li>
    <li><a routerLink="/dashboard"><mat-icon>shopping_cart</mat-icon> Orders</a></li>
    <li class="logout"><a routerLink="/dashboard"><mat-icon>exit_to_app</mat-icon> Logout</a></li>
  </ul>
</div>
