table {
  width: 100%;
  > thead{
    background-color: whitesmoke !important;
    tr {
      > th{
        text-align: center !important;
        vertical-align: middle !important;
      }
    }
  }
  tbody{
    // height: calc(100vh - 205px); //without paginator
    height: calc(100vh - 265px); //without paginator
  }
}


th.mat-sort-header-sorted {
  color: black;
}

