$primary-colorrr: #ff3a00;
$primary-color-dark: #af2900;

$primary-color: #FF3A00;
$secondary-color: #00C3FF;
$tertiary-color: #C3FF00;
$quaternary-color: #3C00FF;
:root {
  // Primary Colors
  --primary-300: #FFA666;
  --primary-500: #FFD699;
  --primary-700: #FFE6B3;

  // Secondary Colors
  --secondary-300: #66E4FF;
  --secondary-500: #99F3FF;
  --secondary-700: #B3FAFF;

  // Tertiary Colors
  --tertiary-300: #E4FF66;
  --tertiary-500: #F3FF99;
  --tertiary-700: #FAFFB3;

  // Quaternary Colors
  --quaternary-300: #9977FF;
  --quaternary-500: #BF99FF;
  --quaternary-700: #D4B3FF;
}
