
<mat-card style="padding-bottom: 12px; height: 100vh;">
  <mat-card-header>
    <mat-card-title>Products</mat-card-title>
    <mat-card-subtitle>List of all products</mat-card-subtitle>
  </mat-card-header>
  <div style="padding: 4px;" >


    <div class="toolbar-container" >
      <mat-toolbar>
        <button mat-raised-button color="primary" routerLink="add">
          <mat-icon>add</mat-icon> New
        </button>
      </mat-toolbar>
    </div>


<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-table mat-elevation-z8"
         style="margin-top: 12px;"
  >

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
        Description
      </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by image">
        Image
      </th>
      <td mat-cell *matCellDef="let element"> {{element.image}} </td>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by brand">
        Brand
      </th>
      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
        Price
      </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
        Category
      </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dateCreated">
        Create Date
      </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by rating">
        Rating
      </th>
      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

    <!--   Action Column   -->
    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="deleteProduct(element.id)"
          mat-icon-button
          color="warn"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <button
          [routerLink]="'edit/'+element.id"
          mat-icon-button
          color="primary"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="custom-paginator" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

  </div>




</mat-card>

